:root { 
--red_700:#cc3342; 
--red_600:#da4835; 
--pink_900:#4a0049; 
--light_green_A700:#70db00; 
--lime_A200:#eeee45; 
--light_blue_500:#00adee; 
--light_blue_900:#004792; 
--lime_A400:#ceea00; 
--gray_50:#f9fbfc; 
--pink_A200:#f132b0; 
--green_A700:#00c300; 
--yellow_500:#ffea26; 
--black_900:#000000; 
--pink_A400:#ff007a; 
--teal_900:#083c5f; 
--light_blue_A700:#0084ff; 
--purple_500:#a4248b; 
--pink_400:#de4a77; 
--purple_400:#b536b7; 
--amber_900:#f76f0d; 
--gray_400:#bec1c2; 
--gray_500:#959799; 
--gray_802:#454647; 
--gray_803:#384046; 
--gray_800:#48255e; 
--bluegray_100:#ccced1; 
--yellow_A700:#f8d701; 
--black_900_0c:#0000000c; 
--white_A700_82:#ffffff82; 
--teal_A400:#2bd799; 
--cyan_200:#85dfdc; 
--white_A700_00:#ffffff00; 
--lime_A700:#a0e123; 
--white_A700:#ffffff; 
}